@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.link-skip {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
}

.link-skip:focus {
    top: 0;
}

body, html {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #DCC793; /*#F9F5ED*/
}

main {
    width: 100%;
    margin: 0;
}

footer {
    background-color: white;
    padding: 1em;
    width: 100%;
    text-align: center;
    color: black;
}

img {
    display: block;
    
}
